@use "variables";

.event {
    padding: 80px 0;

    .container {
        display: flex;
        gap: 40px;
        max-width: 80%;

    }

    &__details {
        &__text {
            color: #000;

            &--big {
                font-size: 32px;

            }

            &--small {}
        }
    }

    .infos-bar {
        // background-color: variables.$corSecundaria;
        text-align: center;
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;



        &__infos {
            &__item {
                &--small {
                    // color: variables.$corSecundaria;
                    font-weight: 500;
                    color: variables.$secondaryTextColor;
                    font-size: 32px;
                }

                &--big {
                    font-size: 24px;
                    color: variables.$secondaryTextColor;
                    // font-weight: 600;
                }
            }
        }
    }

    /*    @media (max-width: 640px) {
        .container {
            display: block;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;
        }

        &__image {
            width: 100%;
        }
    } */
}